{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{{my_context.title}}</title>
</head>
{% endblock %}
<body >
{% block pagename %}
<h1 class="nav justify-content-center">{{ my_context.title }}</h1>
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs justify-content-center">
{% for str_ in my_context.menu %}
    <li class="nav-item">
        <a class="nav-link" href="{{str_.href}}" >{{str_.menu}}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
{% block content %}
{{ user }}
    <h2 class="nav justify-content-center">На правах рекламы</h2>
    <p class="nav justify-content-center"><img  src='{% static "/ad.jpg" %}'></p>
{% endblock %}
</body>
</html>