{% extends "1_task\menu.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ block.super }}
{% endblock %}
<body>
{% block pagename %}
{{ block.super }}
{% endblock %}
<h2>
{% block menu %}
{{ block.super }}
{% endblock %}
</h2>
{% block content %}

<div class="container mt-1" >
    <div class="row text-center justify-content-center">
        <div class="col col-md-12">
            <form method="POST" id="games_form" class="form-group">
                    {% csrf_token %}
                    <div>
                        {{form}}
                    </div>
            </form>
        </div>
    </div>
    <div class="container mt-1 justify-content-center">
        <div class="row text-center justify-content-center">
            <div class="col col-md-4"></div>
            <div class="col col-md-4 text-center justify-content-center">
                <nav  aria-label="Постраничная навигация" class="justify-content-center">
                    <ul class="pagination pagination-sm mx-auto">
                            {% for i in my_context.elided %}
                                {% if i == my_context.page_number %}
                                    <li class="page-item active">
                                    <a class="page-link" href="?next_page={{ i }}&quant_page={{my_context.quant_page}}">&nbsp;{{ i }}&nbsp;</a>
                                    </li>
                                {% elif i == "<" %}
                                    <li class="page-item">
                                    <a class="page-link" href="?next_page={{ my_context.page_back }}&quant_page={{my_context.quant_page}}">{{ " < " }}</a>
                                    </li>
                                {% elif i == ">" %}
                                    <li class="page-item">
                                    <a class="page-link" href="?next_page={{ my_context.page_forward }}&quant_page={{my_context.quant_page}}">{{ " > " }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                    <a class="page-link" href="?next_page={{ i }}&quant_page={{my_context.quant_page}}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-7">
            {% for  str_ in my_context.cntxt_menu %}
                    <div class="card р-100" style="border:none">
                          <div class="card-header" style="background-color:silver">
                              <h2>•{{ str_.title }}</h2>
                          </div>
                          <div class="card-body">
                                <i class="card-text">{{ str_.description }}
                                </i>
                          </div>
                          <div class="card-header" style="background-color:silver">
                              <div class="row">
                                  <div class="col col-md-6"><h6>{{ str_.genre }}</h6></div>
                                  <div class="col col-md-2"></div>
                                  <div class="col col-md-4"><h4 class="text-right">Цена:{{ str_.cost }}</h4></div>
                              </div>
                          </div>
                          <div class="card-footer" style="background-color:black">
                              <div class="row">
                                  <div class="col col-md-8"></div>
                                  <div class="col col-md-4 d-grid gap-2"">
                                      <input class="btn btn-light" type="submit" value="В корзину">
                                  </div>
                              </div>
                          </div>
                    </div>
            {% endfor %}
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}
</body>
</html>