{% extends "1_task\menu.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ block.super }}
{% endblock %}
<body>
{% block pagename %}
{{ block.super }}
{% endblock %}
<h2>
{% block menu %}
{{ block.super }}
{% endblock %}
</h2>
{% block content %}

    <table align="center" width="30%" >
     <form method="POST">
        {% csrf_token %}
        <div>
        {% for field in form %}
            <div class="form-group">
            <tr>
                <td>{{field.label_tag}}
                    <div class="form-group">
                        {{field}}
                    </div>
                    {% if field.errors%}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            </div>
            {% endfor %}
            </div>
    <tr><td>
        <div class="alert alert-danger"><input type="submit" value="Зарегистрироваться"></div>
    </td></tr>
    {% for str_ in error %}
        <tr><td style="color:red">Ошибка: {{str_}} </td></tr>
    {% endfor %}
    </form>
    </table>

{% endblock %}

</body>
</html>







