{% extends "1_task/menu.html" %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
{{ block.super }}
{% endblock %}
<body>
{% block pagename %}
{{ block.super }}
{% endblock %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
     <form method="POST">
        {% csrf_token %}
        <div class="form-group">
        {% for field in form %}
            <div class="text-muted">
            {{field.label_tag}}
            </div>
            <div>
            {{field}}
            </div>
            {% if field.errors%}
                {% for error in field.errors %}
                <div class="text-danger">
                {{error}}
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-outline-dark" type="submit" value="Зарегистрироваться"></div>
     <div class="form-group">
     {% for str_ in error %}
        Ошибка: {{str_}}
     {% endfor %}
     </div>
     </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>







