{% extends "1_task\menu.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ block.super }}
{% endblock %}
<body>
{% block pagename %}
{{ block.super }}
{% endblock %}
<h2>
{% block menu %}
{{ block.super }}
{% endblock %}
</h2>
{% block content %}
<div class="container">
    <div class="row" >
        <div class="col col-md-3"></div>
        <div class="col col-md-5">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                <div class="form-control form-control-plaintext">
                                    <div class="form-label ">
                                    {{field.label_tag}}
                                    </div>
                                    {{field}}
                                    {% if field.errors%}
                                    {% for error in field.errors %}
                                        <div class="text-danger">
                                        {{error}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <div></div>
                            {% endfor %}
                            <input type="submit" value="Сохранить" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4"></div>
    </div>
</div>
{% endblock %}
</body>
</html>



